@media screen and (max-width: 414px) {
    .container {
        padding: 9px 16px;
    }

    .logo {
        margin-right: 0;
    }

    .top_lr {
        cursor: pointer;
        display: inline-block;
    }

    .btn,
    .btn1 {
        padding: 15px;
    }

    .section-1 .header .item {
        display: none;
    }

    .section-1 .header .input {
        display: none;
    }

    .section-1 .header .btn1 {
        display: none;
    }

    .section-1 .header {
        padding: 15px 30px;
        justify-content: space-between;
    }

    .section-1 .header .task {
        cursor: pointer;
        display: inline-block;
        font-size: 32px;
        color: #00171F;
    }

    .section-2 .body_2 {
        height: 700px;
    }

    .section-2 .body_2 .content {
        flex-wrap: wrap;
    }

    .section-2 .body_2 .content .left img {
        position: absolute;
        bottom: -425px;
        left: -60px;
    }

    .section-2 .body_2 .content .right {
        position: relative;
        width: 100%;
        z-index: 5;
        padding: 32px 20px;
    }

    .section-2 .body_2 .content .right .title .title_1 {
        text-align: center;
        font-size: 36px;
    }

    .section-2 .body_2 .content .right .title .title_2 {
        font-size: 24px;
        text-align: center;
    }

    .section-2 .body_2 .content .right .desc_common {
        text-align: center;
        font-size: 12px;
    }

    .section-2 .body_2 .squa1 {
        top: 600px;
    }

    .section-2 .body_2 .squa2 {
        left: -250px;
        top: -400px;
    }

    img {
        height: 386px;
        width: 414px;
        margin-left: 0px;
    }

    .section-3 .container .left {
        display: none;
    }

    .section-3 .container .right {
        width: auto;
    }

    .section-3 .right .body .item {
        width: 44%;

    }

    .section-3 .right .top {
        display: flex;
        justify-content: space-between;
    }

    .section-3 .right .body .item {
        width: 44%;
    }

    .section-3 .right .body .item .content .title {
        font-size: 14px;
    }

    .section-3 .right .body .item.w30 {
        width: 100%;
    }



    .section-4 .container {
        padding: 40px 16px;
    }

    .section-4 .box {
        padding: 16px;
        flex-wrap: wrap;
    }

    .section-4 .box .left {
        width: 100%;
        margin-bottom: 16px;
    }

    .section-4 .box .left .item {
        font-size: 19px;
    }

    .section-4 .box .right {
        flex-wrap: wrap;
        width: 100%;
    }

    .section-4 .box .right .left_r {
        width: 100%;
        margin-bottom: 12px;
    }

    .section-4 .box .right .right_btn {
        width: 100%;
        text-align: center;
    }

    .section-4 .taskbar {
        flex-wrap: wrap;
    }

    .section-4 .taskbar .left {
        margin-bottom: 20px;
    }

    .section-4 .taskbar .left .item {
        font-size: 13px;
        margin-right: 40px;
    }

    .section-4 .taskbar .right {
        margin-left: 35px;
    }

    .section-4 .taskbar .right .item {
        font-size: 20px
    }
}